BOT_TOKEN=your_bot_token_here
WEBHOOK_BASE_URL=https://your-domain.com
WEBHOOK_PATH=/your-bot-path/
SECRET_TOKEN=your_random_secret_token

DB_LINK_CONNECTION=mysql+aiomysql://user:password@host:3306/dbname?charset=utf8mb4

LOG_PATH=logs/app.log
